.main {
    text-align: center;
    min-height: 100vh;
}

.heights {
    height: 200px;
}

.btnBlue {
    box-shadow: 0px 0px 16px rgba(45, 4, 222, 0.75);
}

.gradient {
  background: linear-gradient(180deg, #68D2EA 0%, #FFFFFF 100%);
  overflow-x: hidden;
}

.lineBreak {
    position: relative;
}

.lineBreak::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 1rem;
    top: calc(-100% - 2px);
    background: hsl(219, 91%, 19%);
    left: 0;
    right: 0;
    margin-inline: auto;
}
.lineBreak::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 1rem;
    bottom: calc(-100% - 2px);
    background: hsl(219, 91%, 19%);
    left: 0;
    right: 0;
    margin-inline: auto;
}

.gridd {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
}

.linearGradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
}