.navLink {
    position: relative;
}
.navLink::after {
    content: '';
    position: absolute;
    background-color: hsla(251, 96%, 44%, 1);
    height: 3px;
    border-radius: 50px;
    width: 50%;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: 2.25rem;
    transform: scaleX(0);
    transition: all 0.5s ease-in;
}
.navLink:hover::after {
    transform: scaleX(1);
}

.btnBlue {
    box-shadow: 0px 0px 16px rgba(45, 4, 222, 0.75);
}

.notifCart {
    filter: drop-shadow(0px -2px 4px #EE5353);
}

.notifItems {
    filter: drop-shadow(0px -2px 4px #0F2B5A);
}

.customWidth {
    width: calc(100vw - 424px);
}

@media screen and (max-width: 1024px) {
    .customWidth {
    width: calc(100vw - 100px);
}
}
@media screen and (max-width: 768px) {
    .customWidth {
    width: calc(100vw - 40px);
}
}
